doctype html
html(lang="en")
    head
        title 112organic
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="")
        meta(name="description", content="")
        meta(name="format-detection", content="", telephone="no")
        // favicons

        link(href="css/application.css" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    body 
        // Begin header 
        header.header-line-bottom
            div.container.header
                div.row
                    div.col-4.col-md-3.logo
                        a(href="index.html")
                            img.header__logo(src="img/logo.jpg", alt="Logo")
                        
                    div.col-8.header__navigation.container.text-SSaSb
                        div.row
                            |
                            |
                            a.col-2.header__navigation_first(href="") 
                                b КАТАЛОГ
                            |
                            | 
                            a.col-3(href="aboutcomp.html")
                                b О  КОМПАНИИ
                            |
                            |
                            a.col-3(href="cart.html")
                                b ГДЕ КУПИТЬ
                            |
                            |
                            a.col-2(href="cart.html")
                                b ОТЗЫВЫ
                            |
                            | 
                            a.col-2(href="aboutcomp.html")
                                b.header__navigation-last  КОНТАКТЫ
                .header-burger
                    span
                .header__burger_menu.text-SSaSb
                    a.drop-down-menu(href="cataloge.html") 
                        b КАТАЛОГ
                    
                    a.drop-down-menu(href="aboutcomp.html")
                        b О  КОМПАНИИ
                    
                    a.drop-down-menu(href="cart.html")
                        b ГДЕ КУПИТЬ
                    
                    a.drop-down-menu(href="cart.html")
                        b ОТЗЫВЫ
                    
                    a.drop-down-menu(href="aboutcomp.html")
                        b  КОНТАКТЫ        

        main.main-line-bottom
            .container 
                .row
                    .col-12.links 
                        a.text-SSaR(href="") Главная
                        a.text-SSaR(href="") | Каталог 
            .container
                .row
                    .col.d-flex.justify-content-center.justify-content-sm-center.justify-content-md-start.cataloge.text-SSaR.cataloge-head Каталог продукции  
            div.products
                .container    
                    .d-flex.flex-column.flex-sm-column.flex-md-column.align-items-center.align-items-sm-center.align-items-md-center.flex-lg-row.products__block
                        .col
                            .creams
                                center
                                    a(href="")  
                                        img(src="img/Products/Bals_massag_270x268.jpg")
                                center
                                    p.text-SSaSb Бальзам для массажа тела 
                                    p.text-SSaI Cнимает напряжение, устраняет скованность движений  
                        .col
                            .creams
                                center
                                    a(href="")  
                                        img(src="img/Products/Gel_oxlag_razogrev_270x268.jpg")
                                center
                                    p.text-SSaSb Гель двойного действия охлаждающе-разогревающий  
                                    p.text-SSaI При напряжении и усталости в мышцах 
                        .col
                            .creams                        
                                center
                                    a(href="")  
                                        img(src="img/Products/gel_trokserutin_270x268.jpg") 
                                center
                                    p.text-SSaSb Гель для ног с троксерутином  
                                    p.text-SSaI При отечности и усталости ног
                        .col
                            .creams                        
                                center
                                    a(href="")  
                                        img(src="img/Products/krem_anticell_270x268.jpg")
                                center
                                    p.text-SSaSb Интенсивный антицеллюлитный крем для тела 
                                    p.text-SSaI C эфирным маслом грейпфрута
            div.products
                .container    
                    .d-flex.flex-column.flex-sm-column.flex-md-column.align-items-center.align-items-sm-center.align-items-md-center.flex-lg-row.products__block
                        .col
                            .creams
                                center
                                    a(href="")  
                                        img(src="img/Products/Bals_massag_270x268.jpg")
                                center
                                    p.text-SSaSb Бальзам для массажа тела 
                                    p.text-SSaI Cнимает напряжение, устраняет скованность движений  
                        .col
                            .creams
                                center
                                    a(href="")  
                                        img(src="img/Products/Gel_oxlag_razogrev_270x268.jpg")
                                center
                                    p.text-SSaSb Гель двойного действия охлаждающе-разогревающий  
                                    p.text-SSaI При напряжении и усталости в мышцах 
                        .col
                            .creams                        
                                center
                                    a(href="")  
                                        img(src="img/Products/gel_trokserutin_270x268.jpg") 
                                center
                                    p.text-SSaSb Гель для ног с троксерутином  
                                    p.text-SSaI При отечности и усталости ног
                        .col
                            .creams                        
                                center
                                    a(href="")  
                                        img(src="img/Products/krem_anticell_270x268.jpg")
                                center
                                    p.text-SSaSb Интенсивный антицеллюлитный крем для тела 
                                    p.text-SSaI C эфирным маслом грейпфрута
            div.products
                .container    
                    .d-flex.flex-column.flex-sm-column.flex-md-column.align-items-center.align-items-sm-center.align-items-md-center.flex-lg-row.products__block
                        .col.container    
                            .d-flex.flex-column.flex-sm-column.flex-md-column.align-items-center.align-items-sm-center.align-items-md-center.flex-lg-row
                                .creams
                                    a(href="")  
                                        img(src="img/Products/Bals_massag_270x268.jpg")
                                    p.text-SSaSb Бальзам для массажа тела 
                                    p.text-SSaI Cнимает напряжение, устраняет скованность движений  
                                .creams
                                    a(href="")  
                                        img(src="img/Products/Gel_oxlag_razogrev_270x268.jpg")
                                    p.text-SSaSb Гель двойного действия охлаждающе-разогревающий  
                                    p.text-SSaI При напряжении и усталости в мышцах 
                        .col.quick-help                            
                            p.text-SSaR.title «112 Быстрая помощь»  
                            p.text-SSaI.title-bottom Россия, Алтай
                            p.text-SSaR.text Серия органических средств для восстановления кожи 
                                |после ушибов, снятия болей суставов, ухода за телом. В составах гелей и кремов используются  такие ингредиенты, как бадяга, эфирные масла лекарственных растений (ромашка, арника, эвкалипт) и многие другие натуральные растения Алтайских лесов. Сбалансированная формула позволяет добиться выраженного положительного эффекта при курсовом использовании.
                        
        footer    
            .container
                .d-flex.flex-column.flex-sm-column.flex-md-column.flex-lg-row.justify-content-center.justify-content-sm-center.justify-content-md-center
                    .col
                        .container 
                            .d-flex.flex-column.justify-content-center.our-inform
                                p.text-SSaR 
                                    | Наш адрес: 105082, РФ, г. Москва, 
                                    br
                                    | Переведеновский пер., д.13, стр. 23, пом. 3
                                    br 
                                    | 
                                    br
                                    | Тел.: 7 (495) 973-1-112
                                .text-SSaREn Email: 
                                    span info@112organic.ru 
                    .col.footer_menu
                        .container
                            .d-flex.flex-column.justify-content-center.justify-content-sm-center.justify-content-md-end.justify-content-xl-end
                                p.text-SSaSb Каталог продукции                        
                                p.text-SSaSb О компании 
                                p.text-SSaSb Где купить 
                                p.text-SSaSb Отзывы
                                p.text-SSaSb Контакты  
                    .col
                        .container
                            .d-flex.flex-column
                                p.text-SSaSb Мы в социальных сетях 
                                .container
                                    .d-flex
                                        a
                                            img.col.social-networks(src="img/SocialNetworks/facebook.jpg" alt="")
                                        a
                                            img.col.social-networks(src="img/SocialNetworks/instagram.jpg" alt="") 
                                        a
                                            img.col.social-networks(src="img/SocialNetworks/telegram.jpg" alt="")  
                                        a
                                            img.col.social-networks(src="img/SocialNetworks/vk.jpg" alt="")  
                                        a
                                            img.col.social-networks(src="img/SocialNetworks/youtube.jpg" alt="")
            .container
                .row.row-cols-2.creation
                    .col.col-sm-7.col-md-8.text-SSaR © 2019 - 2022 г. 112 Органик 
                   
                    .col.col-sm-4.col-md-4
                        .text-SSaR.site-creation(style="color:#018D3C;") Создание сайта 
                        .text-SSaREn.site LogicStudio.Ru 

    script(src="js/application.js")
            